/* Reset y tipografía */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: transparent;
  height: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; /* oculto por defecto */
  z-index: 9999;
}

#content {
  height: 90%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
}

/* HEADER */
.top-bar {
  background: #1e3a8a;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
  color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.logo {
  width: 52px;
  height: 52px;
  border-radius: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.brand-text {
  font-size: 12px;
  font-weight: 600;
}

/* center nav */
.center-section {
  display: flex;
  align-items: center;
  gap: 18px;
}
.nav-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 24px;
  border-radius: 6px;
  cursor: pointer;
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.06);
}
.nav-btn.active {
  background: rgba(255, 255, 255, 0.03);
}

/* right */
.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-icon {
  font-size: 20px;
}
.user-btn {
  background: rgba(255, 255, 255, 0.12);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

/**** COMPONENTS ****/
/* ====== TOOLBAR ====== */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.selector-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #193779;
  font-weight: 600;
}

.select-small {
  border-radius: 8px;
  padding: 6px 10px;
  border: 1px solid #d6e0f4;
  background: #fff;
}

/* ====== SearchBar ====== */
.search-wrapper {
  flex: 1;
}

.search-pill {
  display: flex;
  flex: 1;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px 10px;
  gap: 8px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.clear-btn {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
}

/* RIGHT panel toolbar */
.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.primary-btn {
  background-color: #1e3a8a;
  color: #f8fafc;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.selector-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #193779;
  font-weight: 600;
}
.select-small {
  border-radius: 8px;
  padding: 6px 10px;
  border: 1px solid #d6e0f4;
  background: #fff;
}

/* ====== TableData ====== */
.table-box {
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  height: 495px;
  flex-direction: column;
  padding: 10px;
}

.table-header,
.table-row {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  justify-items: center;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.table-header {
  font-weight: 600;
  color: #1e3a8a;
}

.table-row {
  background: #fff;
  border-radius: 8px;
  color: #1e3a8a;
}

.table-row .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-body {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ====== ACCIONES ====== */
.actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.action-btn {
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  color: #f8fafc;
  font-size: 14px;
}

.action-btn.edit {
  background-color: #3b82f6;
}

.action-btn.delete {
  background-color: #ef4444;
}

/* ====== PAGINACIÓN ====== */
.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
}

.page-btn {
  background: #1e3a8a;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.page-btn.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pages {
  display: flex;
  gap: 5px;
}

.page-number {
  background: #fff;
  border: 1px solid #1e3a8a;
  color: #1e3a8a;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.page-number.active {
  background: #1e3a8a;
  color: #fff;
}
