/* ====== BODY ====== */

.sales-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ====== TOOLBAR ====== */
.search-sales {
  flex: 1;
}

#sales-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* gap: 10px; */
}
