/* ====== BODY ====== */
.products-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#products-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* gap: 10px; */
}
