/* ====== BODY ====== */
.products-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-products {
  flex: 1;
}

#products-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}
