body {
    margin: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.window {
    width: 800px;
    height: 600;
    /* background: rgb(250, 0, 0); */
    /* -electron-corner-smoothing: var(--percent); */
    /* -electron-corner-smoothing: system-ui; */
    border-radius: 16; /* Esquinas redondeadas */
    /* box-shadow: 0px 8px 20px rgba(255, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-panel {
    background: #1E3A8A; /* Azul oscuro */
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.left-panel .highlight {
    font-weight: bold;
    color: #ffffff;
}

.left-panel .logo {
    width: 120px;
    margin-top: 2rem;
}

.right-panel {
    flex: 1;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.right-panel h2 {
    color: #1E3A8A;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    margin: 0.5rem 0 0.2rem;
}

input {
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
}

button {
    background: #1E3A8A;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background: #254EDB;
}

.forgot {
    display: block;
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #1E3A8A;
    text-decoration: none;
}
