<div class="table-box">
    <div class="table-header"></div>

    <div class="table-body">
        <!-- <div class="table-row">
            <div class="col">Cereal 500g</div>
            <div class="col">5678901234567</div>
            <div class="col">22</div>
            <div class="col">35.00</div>
            <div class="col">49.00</div>
            <div class="col actions">
            <button class="action-btn edit">
                <i class="fa fa-pen"></i>
            </button>
            <button class="action-btn delete">
                <i class="fa fa-trash"></i>
            </button>
            </div>
        </div> -->
    </div>
</div>